<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>Black Pearl Musical</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="CSS/styles.css" />

</head>

<body class="text-center">

  <nav class="navbar navbar-expand-sm d-flex flex-column flex-sm-row navbar-light bg-light fixed-top">

    <a class="navbar-brand stx-navimg order-1" href="index.php?page=home"><img src="assets/boat.png">Black Pearl Musical</a>

    <button class="navbar-toggler order-3 order-sm-5" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-3 order-sm-2" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto order-5">
        <li class="nav-item">
          <a class="nav-link" href="index.php?page=catalogue">Catalogue</a>
        </li>
        {{ isConnect }}
      </ul>
    </div>

    <form method="POST" class="form-inline my-2 my-lg-0 order-2 order-sm-3">
      <div class="mr-0 mr-lg-3">{{ usr }}</div>
    {{ searching }}
    </form>

  </nav>


  <!-- main -->
  <main id="main">
    {{ contenu }}
  </main>

  <!-- footer -->
  <footer class="fixed-bottom bg-light text-center">© Caribbean'sTAC</footer>



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"></script>
</body>

</html>